<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Poster 1.0</title>
    <link rel="stylesheet" href="/css/app.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  </head>
  <body>
    <%= yield %>
    <div id="footer">© 2010 Sofá Naranja</div>
  </body>
</html>